* {
  font-family: "Inter", sans-serif;
}
.navbar {
  background-color: #e6f8f9;
}
.navbar a {
  color: #363636 !important;
  font-size: 20px;
}
.dropdown-toggle::after {
  display: none;
}
.toggle-icon {
  color: #4a4a4a;
}
.navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.course-btn-bg {
  background-color: rgb(26, 200, 187, 0.8) !important;
}
.course-btn-bg:hover {
  background-color: rgb(26, 200, 187) !important;
}
.log-in-btn {
  border: 3px solid #1b1642 !important;
}
.log-in-btn:hover {
  background-color: #1b1642 !important;
  color: #fff !important;
}
.intro {
  background-color: #e6f8f9;
  min-height: 100vh;
}
h1,
h2 {
  font-family: "Epilogue", sans-serif;
}
.intro h1 {
  font-size: 5rem !important;
  font-weight: 400;
}
.sub-header {
  font-size: 64px;
  color: #1b1642;
}
.card {
  border: none;
}
p {
  font-size: 12px;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-500 {
  font-weight: 500;
}
.alumnum-color {
  color: #d2d0db !important;
}

.plain-white {
  color: rgb(255, 255, 255) !important;
}
.blue-color {
  color: rgb(27, 22, 66);
}
.navbar-color {
  color: #363636 !important;
}
.app-text-color {
  color: #1b1642;
}
.dark-blue {
  color: rgb(11, 9, 28) !important;
}
.app-portal-color {
  color: rgb(27, 211, 198) !important;
}
.nav-drop-color {
  color: rgb(10, 10, 10) !important;
}
.alumni-name {
  color: rgb(245, 245, 245);
}
.footer-color {
  color: rgb(230, 230, 230) !important;
  text-decoration: none;
}
.footer-header {
  color: rgb(121, 116, 146);
}
.light-blue {
  background-color: rgb(27, 211, 198);
}
.rep-btn {
  background-color: rgb(23, 19, 56) !important;
}
.card-bg-color {
  background-color: rgb(27, 22, 66) !important;
}
.hire-btn {
  background-color: rgb(249, 249, 249) !important;
}
a {
  cursor: pointer;
}
.courses a {
  font-family: "Epilogue", sans-serif;
}
.rounded-img {
  border-radius: 50%;
}

@media only screen and (max-width: 1150px) {
  .hide-link {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
  }
  .navbar-nav {
    background-color: white;
  }
  .link-res a {
    color: rgb(10, 10, 10) !important;
  }
  .dropdown-item:hover,
  .course-link:hover {
    color: rgb(50, 115, 220) !important;
  }
  .course-icon {
    position: relative;
    left: 83%;
  }
  .course-icon2 {
    position: relative;
    left: 72%;
  }
  .course-icon3 {
    position: relative;
    left: 78%;
  }
  .log-in {
    display: none;
  }
}

@media only screen and (max-width: 962px) {
  .hero-img {
    display: none;
  }
  .hide-link {
    display: block;
  }
  .navbar .dropdown-item {
    font-size: 18px;
  }
  .alumni-head {
    font-size: 40px;
  }
}
